body {		
			font: 80%/1.5 arial, helvetica, sans-serif;
			color: black;
			background: #d3d6db;

			background-attachment:fixed;
			background-repeat:no-repeat;
			background-position:top center;
			background-size:100%;

		}

		#demo-page{
			background: #d3d6db;
		}
		

		
		textarea {
			resize: none;
			overflow: hidden;
			width:100%;

			border:0px;
			background:white;
			margin:auto;
			margin-top:5px;
		}

		input#id_link,input#searchterm{
			border:#F96 1px solid;
		}





		article,div.post_comment{

			margin: auto;

		}

		article a {
		text-decoration: none;

   		 }

   		a{
   			color: #21759b;
   		} 

   		a:visited{
   			color: #21759b;
   		}

	
		article a:hover {
		color: #fa3;
		border-color: #fa3;
		}
		
		article img{
			cursor:pointer;
		}




		h1 {
			text-align: center;
		}
		
		h3 {
			text-align: center;

		}
		
		article p,div.post_comment p {

			color: black;
			background-color: white;
			padding-top: 5px;
			word-wrap:break-word;
			padding-bottom: 5px;

		}
		
		article p span{
			display: block;

			
		}

		div.post_comment p span{
			padding-bottom:15px;
			padding-right:5px;
			padding-top:5px;
		}
		
		article p span span,div.post_comment p span span {

			display: block;
			
			padding: 0 10px 10px 10px;
		}

		div.post_comment p span span span{
			margin-top:8px;
			margin-bottom: 8px;
			padding: 0 ;
			border:0;
			background:transparent;
			font-size:12pt;
		}
			


.title2{
	color:#21759b;

 font-size:25px;

}

.title2:hover{
	color:#f80;
}

.title2:visited{
	color:#21759b;
}

#authorname{

	background:transparent;
	font-size:small;
	font-style: italic;
	color: #808080 ;
	border:0;
	padding:0;
}

.article1{
	font-size:15px;
	overflow-wrap:break-word;
	margin-top: 5px;
	padding: 0;
	border:0;
	background:transparent;
	margin-bottom: 5px;
}

.article1:first-letter{
	font-size:150%;


}

#content{
	color:Chocolate ;
}


.loginlink{

font-size:large;
color:white;
}

.loginlink:visited{
	color:white;
}

.logoutlink{
	color:#F63;
	font-size:14px;
	font:"Lucida Console", Monaco, monospace;
}









.logoutlink:visited{
	color:#F63;
}

button{
float:right;
}

input[type="button"],button#search{
	float:right;
	margin-top: 3px;
	margin-right: 40px;
	margin-bottom: 3px;
}

button,input[type="button"] {
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	border:1px solid #dcdcdc;
	padding:5px 8px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	color:#666666;
	display:inline-block;
}

button:hover,input[type="button"]:hover  {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f6f6f6), color-stop(100%, #ffffff) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background-color:#f6f6f6;
}

button:active,input[type="button"]:active {
	position:relative;
	top:1px;
}









.click{
/*	position:absolute;
	left:440px;
	top:210px;
	width:300px;
	height:20px;*/

	margin:auto;
	height:20px;
/*	margin-bottom: 20px;*/
	cursor:pointer;
	background: url(../images/click.png);
}

.click:hover {
	background: url(../images/click2.png);
}


div.floatPost.fixed{
	position:fixed;
	top:0;

	margin-left: 31%;
	color:#F39;

}


div.floatPost{
	position:relative;
/*	width: 502px;*/
	color:#F39;
	margin:auto;
/*		margin-left: 31%;*/

		}


div#normalPost,div.postForm{


	color:#F39;
	margin:auto;

}


.title1{
	border:#F96 1px solid ;
}


	
#loadmore{
	
	margin: auto;
	text-align: center;
	margin-top: 20px;
	
}

#loadmore a{
	font-family:  Arial, Verdana,Helvetica, sans-serif;
	font-size: 13pt;
	text-decoration: none;
	color: #2489ce;


}

.trademark {
	font-family:  Arial, Verdana,Helvetica, sans-serif;
	font-size: 8pt;
	color: #0099FF;
	margin-top: 10px;
}